<div class="row header">
  <div class="logo">
  <%= wicked_pdf_image_tag 'logomarca.png', size:'50x50' %>
  </div>

  <div class="titulo">
    <h1>COMPANHIA DE SANEAMENTO DO PARÁ - COSANPA</h1>
    <h2>CNPJ: 04.945.341/0001-90  INSCRIÇÃO ESTADUAL: 15.074998-8</h2>
  </div>
</div>

<div id="pagina_1" class="row conteudo">
  <div class="col-6">
    <h3>CONTRATO DE ADESÃO Nº: AD <%= @numero_contrato %> </h3>
    <p>A COMPANHIA DE COMPANHIA DE SANEAMENTO DO PARÁ, à Av. Magalhães Barata, 1201, São Brás, Belém - Pará, inscrita no CNPJ. nº. 04.945.341/0001-90, doravante designada PRESTADORA DE SERVIÇOS, em conformidade com a Lei 11.445 de 05 de janeiro de 2007, e o(a) <%= @nome_cliente %>, doravante denominado USUÁRIO, responsável pela matricula nº <%= @matricula %>, situada na <%= @endereco_adesao %>, em comum acordo, aderem de forma integral, a este Contrato de Prestação de Serviço Público de fornecimento de água tratada e potável e/ou coleta de esgoto, na forma de Contrato de Adesão, com base na lei 11.445 de 05 de janeiro de 2007 e nas Resoluções das Agências Reguladoras competentes, que passam a integrá-lo, independentemente de transcrição e pelos demais regulamentos presentes e futuros que disciplinam a prestação de serviço público de fornecimento de água e coleta de esgoto.</p>
    <br>
    <h3>CLÁUSULA PRIMEIRA: TERMINOLOGIA</h3>
    <h3>Para fins deste contrato são adotadas as seguintes definições:</h3>
    <p><b>1.  USUÁRIO:</b> pessoa física ou jurídica, ou comunhão de fato ou de direito, legalmente representada, que solicitar a Prestadora de Serviços o abastecimento de água e/ou esgotamento sanitário, regido por contrato firmado ou de adesão, e assumir a responsabilidade pelo pagamento das faturas e pelas demais obrigações fixadas em normas legais, regulamentares ou contratuais;</p>
    <p><b>2.  UNIDADE USUÁRIA:</b> economia ou conjunto de economias, atendido através de uma única ligação de água e/ou de coleta de esgoto;</p>
    <p><b>3.  LIGAÇÃO:</b> é a interligação do ponto de entrega de água ou de coleta de esgoto às instalações da Unidade Usuária;</p>
    <p><b>4.  PONTO DE ENTREGA DE ÁGUA:</b> é o ponto de conexão do ramal predial de água com as instalações prediais do Usuário (alimentador predial), caracterizando-se como o limite de responsabilidade da Prestadora de Serviços de abastecimento de água;</p>
    <p><b>5.  PONTO DE COLETA DE ESGOTO:</b> é o ponto de conexão do ramal predial de esgoto com as instalações prediais do Usuário (ramal coletor), caracterizando-se como o limite de responsabilidade da Prestadora de Serviços de esgotamento sanitário;</p>
    <p><b>6.  CONSUMO DE ÁGUA:</b> volume de água medido ou estimado utilizado em uma unidade usuária e fornecido pela Prestadora de Serviços;</p>
    <p><b>7.  COLETA DE ESGOTO:</b> recolhimento do refugo líquido através de ligações à rede coletora, assegurando o seu posterior tratamento e lançamento adequado, obedecendo à legislação ambiental;</p>
    <p><b>8.  ECONOMIA:</b> moradias, apartamentos, unidades comerciais, salas de escritório, indústrias, órgãos públicos e similares, existentes numa determinada edificação, que são atendidos pelos serviços de abastecimento de água e/ou de esgotamento sanitário;</p>
    <p><b>9.  CATEGORIA DE USO:</b> é a classificação da economia em função da atividade nela exercida, para efeito de aplicação de tarifas.</p>
    <p><b>10. SUBCATEGORIA:</b> É a subdivisão da categoria, de acordo com a quantidade de pontos de utilização de água, para efeito de estimativa de consumo;</p>
    <p><b>11. HIDRÔMETRO:</b> equipamento destinado a medir e registrar, contínua e cumulativamente, o volume de água fornecido;</p>
  </div>
  <div class="col-6">
    <p><b>12. SERVIÇOS:</b> serviços públicos oferecidos pela Prestadora de Serviços nos sistemas de abastecimento de água e esgotamento sanitário, abrangidos pelas seguintes atividades: captação, adução e tratamento de água bruta; adução, reservação, elevação e distribuição de água potável e coleta, transporte, tratamento e disposição final de esgoto sanitário.</p>    
    <p><b>13. CONTRATO DE ADESÃO:</b> instrumento contratual padronizado para abastecimento de água e/ou esgotamento sanitário, cujas cláusulas estão vinculadas às normas e Regulamentos, não podendo seu conteúdo ser modificado pelo Usuário. A Prestadora de Serviços só poderá alterar o contrato de adesão com anuência definitiva da Agência Reguladora competente</p>
    <p><b>14. TARIFA:</b> instrumento contratual padronizado para abastecimento de água e/ou esgotamento sanitário, cujas cláusulas estão vinculadas às normas e Regulamentos, não podendo seu conteúdo ser modificado pelo Usuário. A Prestadora de Serviços só poderá alterar o contrato de adesão com anuência definitiva da Agência Reguladora competente</p>
    <p><b>15. FATURA:</b> nota fiscal que apresenta a quantia total que deve ser paga pela prestação do serviço público de abastecimento de água e/ou de esgotamento sanitário, referente a um período especificado, discriminando as parcelas correspondentes;</p>
    <br>
    <h3>CLÁUSULA SEGUNDA – DO OBJETO:</h3>
    <P>Este instrumento contém as principais condições da prestação e utilização do serviço público de fornecimento de água e/ou coleta de esgoto entre a PRESTADORA DE SERVIÇOS e o USUÁRIO, de acordo com o Regulamento Geral de Prestação de Serviços de Água e de Esgoto estabelecido pelas Agências Reguladoras de Saneamento Básico, sem prejuízo dos demais regulamentos e das normas inerentes.</P>
    <br>
    <h3>CLÁUSULA TERCEIRA – DA ABRANGÊNCIA:</h3>
    <P>Este contrato aplica-se aos USUÁRIOS responsáveis pelas unidades consumidoras que tenham fornecimento de água e/ou coleta de esgoto.</P>
    <br>
    <h3>CLÁUSULA QUARTA - PRINCIPAIS DIREITOS DO CONSUMIDOR/USUÁRIO</h3>
    <h3>Para fins deste contrato são adotadas as seguintes definições:</h3>
    <p>1.  Receber água tratada e potável e/ou ter seu esgoto coletado, nos padrões de qualidade e continuidade estabelecidos; </p>
    <p>2.  Receber orientações sobre: como evitar o desperdício de água; a utilização da água tratada; o uso adequado das instalações sanitárias e os direitos e deveres do USUÁRIO; </p>
    <p>3.  Ter acesso à estrutura de atendimento para apresentação das solicitações, sem se deslocar do município onde reside; </p>
    <p>4.  Escolher uma dentre pelo menos, 6 (seis) datas disponibilizadas pela PRESTADORA DE SERVIÇOS para o vencimento da fatura; </p>
    <p>5.  Receber a fatura com antecedência mínima de 5 (cinco) dias úteis da data do vencimento;</p>
    <p>6.  Ser informado, na fatura, sobre a existência de débitos; </p>
    <p>7.  Ser comunicado, por escrito, sobre a possibilidade da suspensão dos serviços por falta de pagamento, com antecedência mínima de 30 (trinta) dias da efetiva interrupção no fornecimento de água e/ou coleta de esgoto;</p>
    <p>8.  Nos casos de suspensão indevida, ter religado o fornecimento de água e/ou a coleta de esgoto, sem ônus para o USUÁRIO, no prazo máximo de até 4 (quatro) horas a partir da constatação da ocorrência;</p>
  </div>
</div>

<div id="pagina_2" class="row conteudo">
  <div class="col-6">
    <p>9.  Nos casos de suspensão por débitos, ter os serviços religados, no prazo máximo de 48 (quarenta e oito) horas úteis após o pagamento do débito e solicitação do serviço de religação;</p>
    <p>10. Ser informado sobre a ocorrência de interrupções programadas, por meio de jornais, revistas, rádio, televisão, ou outro meio de comunicação, com antecedência mínima de 48 (quarenta e oito) horas, salvo quando tratar-se de serviços de urgência;</p>
    <p>11. Ter, para fins de consulta, nos locais de atendimento, acesso às normas internas comerciais da PRESTADORA DE SERVIÇOS e as resoluções das agências reguladoras;</p>
    <p>12. Ter o serviço de atendimento telefônico gratuito, disponível 24 (vinte e quatro) horas por dia, para solução de problemas emergenciais;</p>
    <p>13. Ser informado, no prazo de 30 (trinta) dias, sobre providências quanto às solicitações ou reclamações, salvo prazo diverso estabelecido pelas normas regulamentares dos serviços.</p>
    <br>
    <h3>CLÁUSULA QUINTA – PRINCIPAIS DEVERES DO COSUMIDOR/USUÁRIO:</h3>
    <p>1.  Executar e conservar as instalações internas das unidades usuárias de água e/ou, esgoto;</p>
    <p>2.  Ser responsável pela guarda dos equipamentos de medição e/outros dispositivos da PRESTADORA DE SERVIÇOS, instalados na unidade usuária;</p>
    <p>3.  Informar a PRESTADORA DE SERVIÇOS a natureza da atividade usuária (residencial, comercial, industrial, pública) e suas alterações, respondendo na forma da lei por declarações falsas ou omissão de informação;</p>
    <p>4.  Manter os dados cadastrais atualizados junto a PRESTADORA DE SERVIÇOS (nome do responsável, endereço, RG/CPF/CNPJ, etc); sob pena de arcar com possíveis danos e indenizações oriundas de sua omissão.</p>
    <p>5.  Assegurar o livre acesso dos empregados e representantes da PRESTADORA DE SERVIÇOS aos equipamentos de medição para fins de inspeção e leitura;</p>
    <p>6.  Pagar a fatura de água e/ou de esgoto até a data do vencimento, sujeitando-se às penalidades cabíveis em caso de atraso;</p>
    <p>7.  Pagar pelos danos causados, ao prestador de serviços, pela intervenção indevida no ramal predial de água e/ou coleta de esgoto.</p>
    <p>8.  Autorizar o acesso permanente dos empregados e prepostos da PRESTADORA DE SERVIÇOS, nas dependências internas do imóvel nas seguintes hipóteses: realização de vistorias nas instalações hidráulicas, coleta de amostras de água para análise; manutenção e adequação de hidrômetros e serviços de leitura e afins.</p>
    <br>
    <h3>CLÁUSULA SEXTA – DA VIGÊNCIA:</h3>
    <p>1.  O presente contrato vigorará por prazo indetermina¬do, contado a partir da sua assinatura pelo usuário.</p>    
  </div>
  <div class="col-6">
    <h3>CLÁUSULA SÉTIMA – DAS MEDIÇÕES</h3>
    <p>Para os imóveis com ligações hidrometradas, as leituras do consumo para a coleta do volume de água consumida, para efeito de faturamento, serão realizadas de acordo com as normas e cronogramas vigentes, dentro de um período não inferior a 27 dias e não superior a 33 dias, ajustados para o número de dias do mês do faturamento.</p>
    <p>Para os imóveis com ligações não hidrometradas, será cobrado a tarifa referente ao valor do consumo estimado de acordo com a categoria e subcategoria.</p></p>    
    <br>
    <h3>CLÁUSULA OITAVA – DA SUSPENSÃO DOS SERVIÇOS</h3>
    <p>A suspensão do fornecimento de água e/ou interrupção da coleta de esgoto poderá ser executada, sem prejuízo de outras sanções nos seguintes casos:</p>
    <p>1.  Por atraso no pagamento das faturas ou de outros serviços cobráveis, após o decurso de 30 (trinta) dias de seu vencimento, mediante prévia comunicação ao USUÁRIO</p>
    <p>2.  Utilização de artifícios ou qualquer outro meio fraudulento ou, ainda, prática de violência nos equipamentos de medição, que provoquem alterações nas condições de fornecimento ou de medição, bem como o descumprimento das normas que regem a prestação do serviço público;</p>
    <p>3.  Revenda ou fornecimento de água a terceiros;</p>
    <p>4.  Ligação clandestina ou religação à revelia;</p>
    <p>5.  Deficiência técnica e/ou de segurança das instalações da unidade usuária que ofereça risco iminente de danos a pessoas ou bens;</p>
    <p>6.  Violação dos lacres da interrupção do fornecimento ou do hidrômetro;</p>
    <p>7.  Quando o USUÁRIO não permitir ao pessoal da prestadora de serviço o livre acesso ao hidrômetro ou ao limitador de consumo;</p>
    <p>8.  Quando o USUÁRIO não permitir ao pessoal da prestadora de serviço a instalação ou a substituição do hidrômetro.</p>
    <p>Não se caracteriza como descontinuidade do serviço a interrupção dos serviços de fornecimento de água e/ou esgoto sanitário, pelas razões acima citadas.</p>
    <br>
    <h3>CLÁUSULA NONA - DAS DISPOSIÇÕES GERAIS</h3>
    <p>Caso o USUÁRIO a que se refere este contrato não seja mais USUÁRIO dos serviços, deverá imediatamente comunicar à PRESTADORA DE SERVIÇOS.</p>
    <br>
    <h3>CLÁUSULA DÉCIMA – DO FORO</h3>
    <p>Fica eleito o foro da Comarca de <%= @nome_cidade %>, Estado do Pará.</p>
    <br>
    <p><i><%= @data_geracao %></i></p>
    <br>
    <p><b>USUÁRIO:</b> <%= @nome_cliente %></p>
    <p><b>Cpf/Cnpj:</b> <%= @cpf_cliente %></p>
    <br>
    <p><b>CONCESSIONÁRIA:</b>  Companhia de Saneamento do Pará</p>

  </div>
</div>
